<div class="container">
  <form [formGroup]="vehicleForm">
    <div class="form-group"
         [ngClass]="{'wrong-input': vehicleForm.get('brand').invalid && vehicleForm.get('brand').touched}">
      <input class="form-control"
             type="text"
             formControlName="brand"
             placeholder="Brand">
      <div class="warning-container">
        <span class="warning-text">{{warningText}}</span>
      </div>
    </div>
    <div class="form-group"
         [ngClass]="{'wrong-input': vehicleForm.get('registration_number').invalid && vehicleForm.get('registration_number').touched}">
      <input class="form-control"
             type="text"
             formControlName="registration_number"
             placeholder="Registration Number">
      <div class="warning-container">
        <span class="warning-text">{{warningText}}</span>
      </div>
    </div>
    <div class="form-group"
         [ngClass]="{'wrong-input': vehicleForm.get('type').invalid && vehicleForm.get('type').touched}">
      <input class="form-control"
             type="text"
             formControlName="type"
             placeholder="Type">
      <div class="warning-container">
        <span class="warning-text">{{warningText}}</span>
      </div>
    </div>
    <div class="form-group"
         [ngClass]="{'wrong-input': vehicleForm.get('mileage').invalid && vehicleForm.get('mileage').touched}">
      <input class="form-control"
             type="number"
             formControlName="mileage"
             placeholder="Mileage">
      <div class="warning-container">
        <span class="warning-text">{{warningText}}</span>
      </div>
    </div>
    <div class="form-group"
         [ngClass]="{'wrong-input': vehicleForm.get('color').invalid && vehicleForm.get('color').touched}">
      <input class="form-control"
             type="text"
             formControlName="color"
             placeholder="Color">
      <div class="warning-container">
        <span class="warning-text">{{warningText}}</span>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="editMode ? editVehicle() : createVehicle()">
      {{ editMode ? 'Save Changes' : 'Create Vehicle'}}
    </button>
  </form>
</div>

