<div class="background">
  <div class="title-container">
    <img class="carpark-icon" src="assets/icons/carpark-logo.svg">
    <h1 class="title">CarPark</h1>
  </div>
  <div class="container login-form">
    <form class="form-signin" [formGroup]="loginForm">
      <h2 class="form-signin-heading">Please sign in</h2>
      <div class="input-container"
           [ngClass]="{'wrong-input': loginForm.get('userName').invalid && loginForm.get('userName').touched}">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text"
                 formControlName="userName"
                 class="form-control"
                 placeholder="Username" required autofocus>
        </div>
        <div class="warning-container">
          <span class="warning-text">{{warningText}}</span>
        </div>
      </div>

      <div class="input-container"
           [ngClass]="{'wrong-input': loginForm.get('password').invalid && loginForm.get('password').touched}">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input type="password"
                 formControlName="password"
                 id="inputPassword"
                 class="form-control"
                 placeholder="Password" required>
        </div>
        <div class="warning-container">
          <span class="warning-text">{{warningText}}</span>
        </div>
      </div>
      <button [disabled]="loading" class="btn btn-lg btn-danger btn-block" type="submit" (click)="onSubmit()">
        Sign in
      </button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </form>
  </div>
</div>

