<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="'dashboard/reservations/'">CarPark</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li class="navbar-link"
            *ngFor="let item of navigationItems">
          <a routerLinkActive="selected"
             [routerLink]="item.route">
            <span class="glyphicon" [ngClass]="{
            'glyphicon-user' : item.name === 'Employees',
            'glyphicon-tasks' : item.name === 'Reservations',
            'glyphicon-road' : item.name === 'Vehicles',
            'glyphicon-cog' : item.name === 'Settings' && currentUserRole === userRoles.APPROVER
            }">
              {{ item.name === 'Settings' && currentUserRole !== userRoles.APPROVER ? '' : item.name }}
            </span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-link">
          <a routerLinkActive="selected" (click)="logout()">
            <span class="glyphicon glyphicon-off">
              Log-out
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">{{ title }}</h1>
    <router-outlet></router-outlet>
  </div>
</div>
