<div class="container">
  <button *ngIf="currentUserRole === userRoles.APPROVER" class="add-btn btn btn-primary pull-left" (click)="addEmployee()">Add Employee</button>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Row</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Position</th>
        <th *ngIf="currentUserRole === userRoles.APPROVER">Edit</th>
        <th *ngIf="currentUserRole === userRoles.APPROVER">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees$ | async; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.username }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.position }}</td>
        <td class="text-center" *ngIf="currentUserRole === userRoles.APPROVER">
          <span (click)="editEmployee(employee)" class="glyphicon glyphicon-pencil"></span>
        </td>
        <td class="text-center" *ngIf="currentUserRole === userRoles.APPROVER">
          <span (click)="deleteEmployee(employee)" class="glyphicon glyphicon-trash"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
