<div class="container">
  <div class="upper-row-container">
    <button class="btn btn-primary pull-left" (click)="createReservation()">Create Reservation</button>

    <div class="date-pickers">
      <button class="btn btn-primary reset-filter-btn" (click)="resetFilter()">Reset Filter</button>

      <mat-form-field class="picker-from">
        <input #fromInput matInput [matDatepicker]="pickerFrom" (dateChange)="updateFrom($event)" placeholder="From">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="picker-from">
        <input #toInput matInput [matDatepicker]="pickerTo" (dateChange)="updateTo($event)" placeholder="To">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo>
        </mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="input-group filter-row">
    <input type="text" class="form-control" [(ngModel)]="filter.query" placeholder="Search for...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="filterReservations()">Filter</button>
      </span>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Row</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Vehicle</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
        <th *ngIf="currentUser.role === userRoles.APPROVER">Edit</th>
        <th *ngIf="currentUser.role === userRoles.APPROVER">Delete</th>
        <th *ngIf="currentUser.role === userRoles.APPROVER">Approve</th>
        <th *ngIf="currentUser.role === userRoles.APPROVER">Cancel</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reservation of reservations$ | async; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ reservation.employee.first_name }}</td>
        <td>{{ reservation.employee.last_name }}</td>
        <td>{{ reservation.employee.username }}</td>
        <td>{{ reservation.vehicle.brand }}</td>
        <td>{{ formatDate(reservation.from) }}</td>
        <td>{{ formatDate(reservation.to) }}</td>
        <td>{{ reservation.status }}</td>
        <td class="text-center" *ngIf="currentUser.role === userRoles.APPROVER">
          <span (click)="acceptOrDeclineReservation(reservation, true)" class="glyphicon glyphicon-ok"></span>
        </td>
        <td class="text-center" *ngIf="currentUser.role === userRoles.APPROVER">
          <span (click)="acceptOrDeclineReservation(reservation, false)" class="glyphicon glyphicon-remove"></span>
        </td>
        <td class="text-center" *ngIf="currentUser.role === userRoles.APPROVER">
          <span (click)="editReservation(reservation)" class="glyphicon glyphicon-pencil"></span>
        </td>
        <td class="text-center" *ngIf="currentUser.role === userRoles.APPROVER">
          <span (click)="deleteReservation(reservation)" class="glyphicon glyphicon-trash"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--<nav aria-label="Page navigation example">-->
    <!--<ul class="pagination">-->
      <!--<li class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>-->
      <!--<li class="page-item" *ngFor="let page of pages; let i = index">-->
        <!--<a class="page-link">{{ i + 1 }}</a>-->
      <!--</li>-->
      <!--<li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>-->
    <!--</ul>-->
  <!--</nav>-->
  <mat-paginator [length]="100"
                 (page)="pageChanged($event)"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
